<h1>XBE DEMO</h1>

<div>
  <span>
    <%= link_to "Invoices", invoices_index_path, {method: :get, class: "button", style: "float: left; cursor: pointer; vertical-align: text-bottom;color: green;"}%>
  </span>
  <br>
  <span>
  <%= link_to "Items", items_index_path, {method: :get, class: "button", style: "float: left; cursor: pointer; vertical-align: text-bottom;color: green;"}%>
  </span>
  <br>
  <span>
  <%= link_to "Invoice Batches", invoices_invoice_batches_path, {method: :get, class: "button", style: "float: left; cursor: pointer; vertical-align: text-bottom;color: green;"}%>
  </span>

</div>